.logo{
    width: 10%;
    margin-bottom: 15px;
    margin-left: 7%;

}
.header-content {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height:5rem;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-title{
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: -25px;
    background-color: transparent;
}

.header-title > span{
    color:#FF8911;
}

.header-search-bar{
    position: fixed;
    margin-left: 41%;
    display: flex;
    flex-direction:row;
    align-items: center;

}

.search-bar{
    height: 2.5rem;
    width: 22rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #ececec;
    text-align:center;
    font-size:1rem;
    letter-spacing:0.5px
}

.search-bar::placeholder {
    text-align: center;
}

.search-bar:hover {
    border:1px solid #FC6736
}

.header-sign-container{
    display:flex;
    flex-direction:row;
    margin-right: 8%;
}

.header-sign-container >a{
    margin-right: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #FF8911;
    
}

.link-li{
    color:#FF9209;
}

.link-li:hover{
    color:#FC6736;
    border-bottom: 2px solid #FC6736;
}
.search-icon{
    width: 10%;
    margin-right: -15%;
    z-index: 99999
}   

@media (max-width: 768px) {
    .header-search-bar {
        margin-left: 20%;
    }

    .search-bar {
        margin-left:70%;
        width: 100%;
    }
}