
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FuturaPT-Book;
    src: url('./assets/FuturaPT-Book.woff');
}


*{
  font-family: FuturaPT-Book;
  
}

body{
  background-color: #F0F0F0;
  overflow: hidden;
}

.custom-toaster {
  position: fixed;
  z-index: 99;
  inset: 0px;
  pointer-events: none;
  background: transparent;
}
