
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FuturaPT-Book;
    src: url('./assets/FuturaPT-Book.woff');
}


*{
  font-family: FuturaPT-Book;
  background: rgb(241,245,241);
}

.custom-toaster {
  position: fixed;
  z-index: 99;
  inset: 0px;
  pointer-events: none;
  background: transparent;
}
